NEXT_PUBLIC_BASE_URL=your_base_url_here
MOCKAPI_URL=https://<your_mockapi>.mockapi.io/api/v1
NEXT_PUBLIC_FINGERPRINT_KEY=your_fingerprint_key_here
INTERNAL_API_KEY=generate_a_random_api_key_for_external_access
